<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Car Reserve Page</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
    <script th:src="@{/js/jquery-3.6.0.js}"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        console.log("page loaded");
        brandChange();
      });

      /* exception handling */
      function errorHandling(errorResponse) {
        var errorMessage = "hitting exception : ";
        if (errorResponse) {
          errorMessage +=
            errorResponse.errorCode + "-" + errorResponse.errorMessage;
        }
        alert(errorMessage);
      }

      function brandChange() {
        console.log("selected brand id : " + $("#brand").val());

        /* ajax call */
        var modelListUrl = "/brand/" + $("#brand").val() + "/models";
        $.ajax({
          type: "GET",
          url: modelListUrl,
          async: false,
          success: function (response) {
            if (response.status != "success") {
              errorHandling(response.error);
            } else {
              /* success : change dom */
              var modelListHtml;
              response.data.forEach((model) => {
                modelListHtml +=
                  "<option value ='" +
                  model.modelId +
                  "'>" +
                  model.modelName +
                  "</option>";
              });
              $("#model").html(modelListHtml);
            }
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            errorHandling(XMLHttpRequest.responseJSON.error);
          },
        });
      }

      function reserve() {
        console.info(
          "reserving : brand : " +
            $("#brand").val() +
            ", model : " +
            $("#model").val() +
            ", start date : " +
            $("#start_date").val() +
            ", end_date : " +
            $("#end_date").val()
        );

        /* ajax call */
        $.ajax({
          type: "POST",
          url: "/reserve",
          contentType: "application/json",
          dataType: "json",
          data: JSON.stringify({
            model_id: $("#model").val(),
            start_date: $("#start_date").val(),
            end_date: $("#end_date").val(),
          }),
          success: function (response) {
            alert(
              "create reserve order : " +
                response.data.reserveId +
                " successfully!"
            );
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            errorHandling(XMLHttpRequest.responseJSON.error);
          },
        });
      }
    </script>
  </head>
  <body style="text-align: center">
    <h1>Car Reserve Page</h1>

    <table border="0" align="center">
      <tr align="left">
        <td>Brand</td>
        <td>
          <select id="brand" onchange="brandChange()">
            <option
              th:each="brand : ${brandEntityList}"
              th:value="${brand.id}"
              th:text="${brand.brandName}"
            ></option>
          </select>
        </td>
      </tr>
      <tr align="left">
        <td>Model</td>
        <td><select id="model"></select></td>
      </tr>
      <tr align="left">
        <td>Start Date</td>
        <td><input id="start_date" type="date" value="" /></td>
      </tr>
      <tr align="left">
        <td>End Date</td>
        <td><input id="end_date" type="date" value="" /></td>
      </tr>
    </table>

    <button onclick="reserve()">Reserve</button>
  </body>
</html>
